@model Producto
<h2>Lista Productos</h2>
<p>
    <a asp-action="Create">Create</a>
</p>
<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
           
        </tr>
    </thead>
    <tbody>
       
    </tbody>
</table>
